<IfModule mod_rewrite.c>
RewriteEngine On

# redirect to non-www
#RewriteCond %{HTTP_HOST} ^www\.astroneerbingo\.space$ [NC]
#RewriteRule ^(.*)$ https://astroneerbingo.space/$1 [L,R=301]

# redirect to HTTPS
#RewriteCond %{HTTPS} !on
#RewriteRule (.*) https://astroneerbingo.space/$1 [QSA,L,R=301]


# rewrite seed in URL

# if request URI doesn't end by index.php
RewriteCond %{REQUEST_URI} !^/index\.php

# and the requested path and file doesn't directly match a physical file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# internally rewrite the request to the index.php script with the "seed" variable
RewriteRule (.*) index.php?seed=$1
</IfModule>


## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access plus 1 year"
ExpiresByType image/jpeg "access plus 1 year"
ExpiresByType image/png "access plus 1 year"
ExpiresByType text/css "access plus 1 month"
ExpiresByType text/javascript "access plus 1 month"
ExpiresByType text/x-javascript "access plus 1 month"
ExpiresByType image/x-icon "access plus 1 year"
ExpiresDefault "access plus 1 month"
</IfModule>
## EXPIRES CACHING ##