
body {
  background: url("images/big_composite_bg_white.jpg") center top no-repeat fixed;
}


#build_card_text {
  margin-left: 140px;
}
#card td {
  border: 1px solid rgb(50,50,50);
  padding: 10px;
  padding-bottom: 0px;
  background: white;
}
#card td img {
  margin: 0;
  padding: 0;
  border: 0;
}

#card td.selected {
  background: rgb(70,230,70);
}
#card td.selected img {
  opacity: 0.5;
}

#card td span {
  display: inline-block;
  max-width: 100px;
  overflow: hidden;
}

#timer.jumbotron {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
}
#timer #display {
  font-size: 3em;
  margin-right: 20px;
}

#timer button {
  margin-right: 10px;
  position: relative;
  top: -10px;
}

#timer #bingo-time {
  display: none;
  font-size: 3em;
}




#configuration .flex-container {
  display: flex;
  flex-wrap: wrap;
}

#configuration .panel {
  margin-bottom: 10px;
}

#configuration .panel-heading:hover {
  text-decoration: underline;
}



#configuration .config-item {
  padding: 8px;
  padding-bottom: 0px;
  margin: 4px;
  background: rgb(230,230,230);
}
#configuration .config-item.selected {
  /*background: rgba(40,230,40,0.9);*/
  background: rgb(70,230,70);
  /*background: rgba(0,150,255,0.7);*/
  border-shadow
}

#configuration input[type=checkbox] {
  position: relative;
  top: -27px;
  left: 8px;
  transform: scale(1.5);
}

#configuration label span {
  position: relative;
  left: -17px;
  margin-right: -17px;
  display: inline-block;
  max-width: 100px;
  overflow: hidden;
}

